### Nama : Andriansyah
### NPM   : 1402019016 
### Universitas Yarsi

# 1. Tugas Sesi Pagi

In [17]:
print("Hello World!") # As usual with any language we start with the print function

Hello World!

In [2]:
# single word
print('hello')

print() # used to have a line space between two sentences. Try deleting this line & seeing the difference

# entire phrase 
print('This is also a string')

hello

This is also a string

In [3]:
s = 'New york'
print(s)
print(type(s))
print(len(s)) # what's the string length

New york
<class 'str'>
8

In [4]:
# Assign s as a string
s = 'Hello World'

# Print the object
print(s)

print()

# Show first element (in this case a letter)
print(s[0])

print()

# Show the second elemnt (also a letter)
print(s[1])

Hello World

H

e

In [5]:
# concatenation (addition)
s1 = 'Hello'
s2 = 'World'
print(s1 +" " +s2)

Hello World

In [6]:
# repetition (multiplication)

print("Hello_" *3)
print("-" *10)

Hello_Hello_Hello_
----------

In [8]:
s = "Namaste World"

# print sub strings
print(s[1]) # This is indexing
print(s[6:11]) # This is known as scaling
print(s[-5:-1])

# test substring membership
print("Wor" in s)

a
e Wor
Worl
True

In [9]:
s = "Hello World"

print(s.upper()) # convert all the element of the string to Upper case..!!
print(s.lower()) # convert all the element of the string to lower case..!!

HELLO WORLD
hello world

In [10]:
name = "Einstein"
age = 22
married = True

print("My name is %s, my age is %s, and it is %s that I am married" % (name, age, married))
print("My name is {}, my age is {}, and it is {} that I am married".format(name, age, married))

My name is Einstein, my age is 22, and it is True that I am married
My name is Einstein, my age is 22, and it is True that I am married

## Basic Arithmetic

In [11]:
# Addition
print(2+1)

# Subtraction
print(2-1)

# Multiplication
print(2*2)

# Division
print(3/2)

3
1
4
1.5

## Arithmetic Continued

In [12]:
# Powers
2**3

8

In [13]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [14]:
# Can use parenthesis to specify orders
(2+10) * (10+3)

156

In [15]:
# Let's create an object called "a" and assign it the number 5
a = 5

# Adding the objects
a+a

10

In [ ]:
# Reassignment
a = 10

# Check
a

# 2. Tugas Sesi Siang

### Identifying Data Types

In [18]:
a = 42
b = 32.30

print(type(a))#gets type of a
print(type(b))#gets type of b

<class 'int'>
<class 'float'>

### List

In [20]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

my_list = ['A string',23,100.232,'o']

In [21]:
len(my_list)

4

### Adding New Elements to a list

In [ ]:
my_list = ['one','two','three',4,5]

In [22]:
# append a value to the end of the list
l = [1, 2.3, ['a', 'b'], 'New York']
l.append(3.1)
print(l)

[1, 2.3, ['a', 'b'], 'New York', 3.1]

In [23]:
# extend a list with another list. 
l = [1, 2, 3]
l.extend([4, 5, 6])
print(l)

[1, 2, 3, 4, 5, 6]

### Slicing

In [27]:
lst = list(range(10)) # create a list containing 10 numbers starting from 0 
print(lst)

print("elements from index 4 to 7:", lst[4:7])
print("alternate elements, starting at index 0:", lst[0::2])
# prints elements from index 0 till last index with a step of 2

print("every third element, starting at index 1:", lst[1::3]) 
# prints elements from index 1 till last index with a step of 3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
elements from index 4 to 7: [4, 5, 6]
alternate elements, starting at index 0: [0, 2, 4, 6, 8]
every third element, starting at index 1: [1, 4, 7]

### Constructing a Dictionary

In [29]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [30]:
# Call values by their key
my_dict['key2']

'value2'

In [31]:
my_dict['key1']=123
my_dict

{'key1': 123, 'key2': 'value2'}

In [34]:
my_dict['key1']=123
my_dict

# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

#Check
my_dict['key1']

0

In [35]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

-123

In [37]:
# Create a new dictionary
d = {}
# Create a new key through assignment
d['animal'] = 'Dog'

### Sets

In [39]:
x = set()

# We add to sets with the add() method
x.add(1)

#Show
x

{1}

In [42]:
# Add a different element
x.add(2)

#Show
x

# Try to add the same element
x.add(1)

#Show
x

{1, 2}

In [43]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]

# Cast as set to get unique values
set(l)

{1, 2, 3, 4, 5, 6}